@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    /* Toolbar specific */
    .toolbar-items > i, .toolbar-items > div > i {
        @apply mx-px p-2 leading-none hover:bg-teal-100 rounded-full;
    }
}

:root {
    --primary-font: 'PJS';
    --sub-font: 'Inter-Variable';
    --mono-font: 'JetBrainsMono-Variable';
}

/* PJS */

@font-face {
    font-family: 'PJS';
    src: url('/fonts/PJS/PlusJakartaSans-Variable.woff2') format('woff2'),
        url('/fonts/PJS/PlusJakartaSans-Variable.woff') format('woff'),
        url('/fonts/PJS/PlusJakartaSans-Variable.ttf') format('truetype');
    font-weight: 200 800;
    font-display: swap;
    font-style: normal;
}

/* JetBrains */

@font-face {
    font-family: 'JetBrainsMono-Variable';
    src: url('/fonts/JetBrains/JetBrainsMono-Variable.woff2') format('woff2'),
        url('/fonts/JetBrains/JetBrainsMono-Variable.woff') format('woff'),
        url('/fonts/JetBrains/JetBrainsMono-Variable.ttf') format('truetype');
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
}

/* Inter */

@font-face {
    font-family: 'Inter-Variable';
    src: url('/fonts/Inter/Inter-Variable.woff2') format('woff2'),
        url('/fonts/Inter/Inter-Variable.woff') format('woff'),
        url('/fonts/Inter/Inter-Variable.ttf') format('truetype');
    font-weight: 100 900;

}

.primary-font {
    font-family: var(--primary-font);
}

.sub-font {
    font-family: var(--sub-font);
}

.mono-font {
    font-family: var(--mono-font);
}